body{
    background-color: rgb(20, 20, 20);
    margin-top: 0;
    color: rgb(100, 220, 120);
}
#root{
    margin: auto;
    width: 90%;
    background-color: rgb(50, 50, 50);
}
.project{
    width: 300px;
}